@font-face{
    font-family: 'SF Pro Display';
    src: url('./San Francisco Pro Display/SF-Pro-Display-Regular.otf') format('opentype')
}

*{
    font-family: 'SF Pro Display'
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@tailwind base;
@tailwind components;
@tailwind utilities;