@font-face{
    font-family: 'SF Pro Display';
    src: url('./San Francisco Pro Display/SF-Pro-Display-Regular.otf') format('opentype')
}

*{
    font-family: 'SF Pro Display'
}

@tailwind base;
@tailwind components;
@tailwind utilities;